* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top_pop12 {
    padding:30px;
    color: rgb(64, 64, 64);
    top: 25%;
    left: 8%;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.5);    
}

h1 {
    line-height: 1.0; 
    font-size: 50px;
}

h2 {
    padding-top:10px;
    font-size: 20px;
}

.top_info {
    padding: 6px 10px;
    border-bottom: 2px solid #5e5e5e;
}
