table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    /* background: rgba(255, 255, 255, 0.15); */
}

th,
td {
    padding: 15px;
    text-align: center;
}

img {
    max-width: 400px;
    height: 400px;
}

.box {
    transform: translate(-50%, 0%);
    position: absolute;
    display: flex;
    justify-content: center;
    top: 15%;
    left: 50%;
    height: 100%;
    width: 100%;
}

.description {
    top: 100px;
}

img {
    display: block;
    transition: filter 0.3s ease;
    /* アニメーション */
}

img:hover {
    filter: brightness(113%);
    /* 明るくして白っぽく */
}