.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal_content {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  width: 90%;
  height: 90%;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal_close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal_close_button{
  position: absolute;
  top: 3px;     /* 上からの距離 */
  right: 13px;   /* 右からの距離 */
  font-family: "メイリオ", Meiryo, sans-serif;
  color: rgb(68, 68, 68);
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.modal_imageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.modal_img {
  height: 700px;
}

.modal_description {
  white-space: pre;
  font-family: "メイリオ", Meiryo, sans-serif;
  color: rgb(68, 68, 68);
  margin-top: 8px;
  font-size: 12px;
  align-self: flex-start;
}

.modal_table {
  width: 70%;
}
