.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal_content {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  top: 3%;
  width: 85%;
  height: 85%;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal_close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal_imageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_img {
  width: 100%;
}

.modal_description {
  white-space: pre;
  font-family: "メイリオ", Meiryo, sans-serif;
  color: rgb(68, 68, 68);
  margin-top: 8px;
  font-size: 14px;
  align-self: flex-start;
}

.modal_table {
  width: 70%;
}