.box {
    display: flex;
    justify-content: center;
    width: 100%;
    padding:100px;
}

.description {
    display: flex;
    justify-content: center;
    padding:40px;
    width: 100%;
    font-family: "メイリオ", Meiryo, sans-serif;
    color: rgb(64, 64, 64);
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

.artimage:hover {
    cursor: pointer;
    filter: brightness(108%);
}
