.background {
    background-image: url("image/top/top2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: 100%;
    opacity: 0.5;
}

.top-pop1 {
    font-family: "メイリオ", Meiryo, sans-serif;
    color: rgb(64, 64, 64);
    top: 300px;
    left: 10%;
    position: absolute;
    width: 30%;
    height: 400px;
    background-color: rgb(255, 255, 255, 0.5);
}

.top-pop2 {
    position: relative;
    width:100%;
    top: 20px;
    left: 30px;
}

.top-pop3 {
    position: relative;
    width:100%;
    top: 30px;
    left: 30px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.top-info {
    display: inline-block;
    padding: 8px 12px;
    border-bottom: 2px solid #333;
    top: 10px;
    width: 90%;
}